*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  position: relative;
}

#headerContainer{
  position: absolute;
  top: 15px;
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Ajustar para centrar */
  background-color: rgba(60, 102, 185, 0.2);
  color: white;
  width: 90%;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.379);
  border-radius: 20px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  backdrop-filter: blur(10px); /* Desenfoque para el fondo */

  /* Estilo de contenido interno */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px; /* Espacio interno a los lados */
}

h1{
  margin: 0px;
  font-size: 1.2rem;
}

canvas {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    /* width: 600px; */
    /* height: 600px; */
}

#canvas {
  background-color: White;
  width: 100vw;
  height: 100vh;
}

.lil-gui.autoPlace{
  top: 15vh;
  right: 5vw;
}

#backButton {
    margin: 10px;
}
