*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  position: relative;
}

#headerContainer{
  position: absolute;
  top: 10px;
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Ajustar para centrar */
  background-color: rgba(46, 46, 46, 0.273);
  color: white;
  width: max-content;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.168);
  border-radius: 30px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  backdrop-filter: blur(10px); /* Desenfoque para el fondo */

  /* Estilo de contenido interno */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
  padding: 5px 8px; /* Espacio interno a los lados */
}

#headerContainer div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-item {
  margin: 0px;
  font-size: 0.8em;
  background: rgba(46, 46, 46, 0.273);
  border: 1px solid rgba(255, 255, 255, 0.168);
  border-radius: 15px;
  padding: 5px 15px;
  user-select: none;
}

.header-btn {
  margin: 0px;
  font-size: 0.8em;
  background: rgba(211, 211, 211, 0.273);
  border: 1px solid rgba(255, 255, 255, 0.168);
  border-radius: 15px;
  padding: 5px 15px;
  text-decoration: none;
  color: white;
}
.header-btn:hover {
  background: rgba(211, 211, 211, 0.5);
}

canvas {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    /* width: 600px; */
    /* height: 600px; */
}

#canvas {
  background-color: White;
  width: 100vw;
  height: 100vh;
}

#backButton {
    margin: 10px;
}

/*
Estilos para lil-gui
https://lil-gui.georgealways.com/#Guide#Styling
*/

.lil-gui.autoPlace{
  top: 0;
  right: 0;
}

.lil-gui { 
  --background-color: rgba(46, 46, 46, 0.273);
  --widget-color: rgba(178, 178, 178, 0.463);
  --text-color: white;
  --padding: 5px;
  --font-size: 12px;
  
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.168);
  border-radius: 5px;
}